* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
	font-weight: inherit;
}
body {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
