@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

main {
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url(../img/bg_morning.jpg);
	overflow: hidden;

	nav {
		width: 40%;
		padding: 5vh 5vw;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		display: flex;
		justify-content: space-between;
		color: #333;

		span {
			font-size: 1rem;
			font-weight: bold;
			font-family: 'orbitron';
			letter-spacing: 1px;
			opacity: 0.4;
			cursor: pointer;

			&.on {
				opacity: 1;
			}
		}
	}

	.auto {
		position: absolute;
		left: 5vw;
		bottom: 5vh;
		color: #fff;
		cursor: pointer;
		font-size: 1rem;
		background-color: transparent;
		border: 1px solid #fff;
		padding: 5px 25px;
	}

	article {
		width: 35vw;
		position: absolute;
		top: 60vh;
		left: 5vw;

		p {
			font: 4vmax/1 'orbitron';
			color: #fff;
			margin-bottom: 20px;

			strong {
				font-weight: normal;
				opacity: 0.7;
			}
		}

		em {
			font: 1.2rem/1.2 'arial';
			color: #fff;
			padding-left: 5px;
			opacity: 0.6;
		}
	}

	figure {
		width: 1200px;
		height: 800px;
		position: absolute;
		right: -10vw;
		top: 50%;
		margin-top: -200px;
		background-image: url(../img/phone_morning.png);
		background-position: right top;
		background-repeat: no-repeat;
		background-size: contain;

		.screen {
			width: 532px;
			height: 299px;
			position: absolute;
			top: 100px;
			left: 133px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			font-family: 'orbitron';
			font-size: 3.5rem;
			gap: 15px;

			em {
				position: absolute;
				top: 90px;
				left: 80px;
				font-size: 1.6rem;
				opacity: 0;

				&.on {
					opacity: 0.8;
				}
			}
		}
	}
}
